@font-face {
    font-family: "TrajanProBold";
    src: url("../fonts/8f1b7b29-3c16-4ed4-a877-cd6590226869.eot?#iefix");
    src: url("../fonts/8f1b7b29-3c16-4ed4-a877-cd6590226869.eot?#iefix") format("eot"), url("../fonts/86cc5f13-d720-476e-9223-cfb097388154.woff") format("woff"), url("../fonts/b58f31e7-8fa0-485a-a559-490d1631b420.ttf") format("truetype"), url("../fonts/132aa541-39c1-47a3-a683-77cb9463a65d.svg#132aa541-39c1-47a3-a683-77cb9463a65d") format("svg");
}

@font-face {
    font-family: "MinionProRegular";
    src: url("../fonts/21992a03-cbc3-4164-9aa0-37d63dc2b6bb.eot?#iefix");
    src: url("../fonts/21992a03-cbc3-4164-9aa0-37d63dc2b6bb.eot?#iefix") format("eot"), url("../fonts/932ab68d-36f6-478a-8a9e-35a4185c188c.woff") format("woff"), url("../fonts/c6b12398-2c47-4601-b9bc-bbb512335076.ttf") format("truetype"), url("../fonts/24bd8306-cad7-4cbb-af99-30520459a784.svg#24bd8306-cad7-4cbb-af99-30520459a784") format("svg");
}

@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/44632421-aa5e-4564-95e1-9c56392b3708.eot?#iefix");
    src: url("../fonts/44632421-aa5e-4564-95e1-9c56392b3708.eot?#iefix") format("eot"), url("../fonts/4aa4296f-63c3-43a5-810a-58279e79fa8b.woff") format("woff"), url("../fonts/f90d27fc-fd02-4e0b-877a-4213c293ceec.ttf") format("truetype"), url("../fonts/d7929319-a857-472c-9acb-891f0efac51d.svg#d7929319-a857-472c-9acb-891f0efac51d") format("svg");
}